// LIBRE FRANKLIN BOLD
%franklinGothicBold {
	//font-family: franklin-gothic-atf, sans-serif;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-style: normal;
}

// LIBRE FRANKLIN REG
%franklinGothicReg {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 400;
	font-style: normal;
}

// SOURCE SANS PRO
%sourceSansPro {
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	font-style: normal;
	font-weight: normal;
}
h1 {
	font-size: 50px;
	line-height: 1.15em;
	font-weight: 300;
	margin-bottom: 25px;
}
.noMarginBottom > * {
	margin-bottom: 0;
}
h2 {
	font-size: 50px;
	line-height: 1.15em;
	font-weight: 300;
	margin-bottom: 20px;
}
.menuContents .nav a, h2, h1 {
	@extend %sourceSansPro;
}
h3 {
	font-size: 19px;
	font-weight: bold;
}
p {
	@extend %franklinGothicReg;
	line-height: 1.5em;
	font-size: 17px;
	margin-bottom: 15px;
}
p:last-of-type {
	margin-bottom: 0;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}
.innerContainer a {
	color: $brandBlue;
	transition: 0.25s ease-in-out;
}
.innerContainer a:hover {
	transition: 0.25s ease-in-out;
}

// BLOCKQUOTE
blockquote {
	padding-left: 4em;
    margin-left: -4em;
	margin-right: 0;
	//margin-bottom: 2em;
    position: relative;
	color: #666;
	@extend %franklinGothicBold;
	letter-spacing: -0.02em;
}
.blockQuoteAuthor {
	font-size: 19px;
	line-height: 1.5em;
    display: block;
}
blockquote::before {
	content: "\f10d";
	content: "\201C";
	position: absolute;
	left: 0;
	top: -15px;
	font-size: 100px;
}
blockquote p {
	font-size: 24px;
	font-style: italic;
	font-weight: 600;
}