// BLOCKQUOTE
.editor-styles-wrapper blockquote {
	padding-left: 4em;
	margin-right: 0;
	margin-bottom: 2em;
    position: relative;
	color: #666;
	font-family: 'Libre Franklin', sans-serif;
}
.editor-styles-wrapper .blockQuoteAuthor {
	font-size: 19px;
	line-height: 1.5em;
    display: block;
}
.editor-styles-wrapper blockquote::before {
	content: "\f10d";
	content: "\201C";
	position: absolute;
	left: 0;
	top: -20px;
	font-size: 100px;
}
.editor-styles-wrapper blockquote p {
	font-size: 24px!important;
	font-style: italic;
	font-weight: 600!important;
}

.components-resizable-box__container {
	width: 100%!important;
	height: auto!important;
}

@media (min-width: 782px) {
	.interface-interface-skeleton__sidebar .interface-complementary-area {
	    width: 300px!important;
	}
}